@using PagadorApp.Models.Enum
@using PagadorApp.Models
@using System

@model IEnumerable<Sale>

@{
    ViewData["Title"] = "Pagamento";    
}

<form method="POST">
<table class="table">
<thead>
    <tr>
        <th scope="col">Data do Recebimento</th>
        <th scope="col">Código da Transação</th>
        <th scope="col">Tipo</th>
        <th scope="col">Valor</th>
        <th scope="col">Quant. Parcelas</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
</thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.payment.ReceivedDate 
                </td>
                <td>
                    @item.payment.PaymentId
                </td>
                <td>
                    @item.payment.Type
                </td>
                <td>
                    @( ((decimal)item.payment.Amount /100).ToString("c") )
                </td>
                <td>
                    @item.payment.Installments
                </td>
                <td>
                    @item.payment.MsgStatus 
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" asp-controller="Pagamento" asp-action="Visualizar" asp-route-id=@item.payment.PaymentId>Visualizar</button>
                </td>
                <td>
                    @if (item.payment.Status == 1)
                    {
                        <button type="submit" class="btn btn-primary" asp-controller="Pagamento" asp-action="Capturar" asp-route-id=@item.payment.PaymentId >Capturar</button>
                    }
                </td>
                <td>
                    @if (item.payment.Status == 1 || item.payment.Status == 2)
                    {
                        <button type="submit" class="btn btn-primary" asp-controller="Pagamento" asp-action="Cancelar" asp-route-id=@item.payment.PaymentId>Cancelar/Estornar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</form>
<form >
    <button type="submit" class="btn btn-primary" asp-controller="Pagamento" asp-action="Pagar">Novo Pagamento</button>
</form>